aside {
    width: 320px;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    padding: 30px 20px;
    border: 0px solid #1C6EA4;
    border-radius: 0px 60px 0px 0px;
}

aside strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #333;
}